<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    <!-- Top navbar-->
    <div class="top-nav navbar navbar-expand-sm">
        <div class="container top-container">
            <div class="col-sm-8 mr-auto">
                <a href="#"><span class="fa fa-phone"></span>(555) 551-22-33</a>
                <a href=""><span class="fa fa-envelope-o"></span>giftshop@example.com</a>
            </div>
            <div class="col-sm-4 text-right">
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-instagram"></span></a>
                <a href="#"><span class="fa fa-linkedin"></span></a>
            </div>
        </div>
    </div><!-- End Top bar-->
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg  navbar-giftShop">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="@Url.Content("~/Images/logo_.png")" class="nav-logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-link">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li class="nav-link">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                <li class="nav-link">@Html.ActionLink("Sign In", "Index", "Help", new { area = "" }, null)</li>
                <li class="nav-link">@Html.ActionLink("Cart", "Index", "Help", new { area = "" }, null)</li>
            </ul>
            <span class="navbar-text">

            </span>
        </div>
    </nav>
    <div class="">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Gift Shop</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $('.carousel').carousel()
        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
